@media (max-width: 480px)
{
    
    /////////////////////////////////////
    .header
    { 
        display: none; 
        
    }
    
    #header{
       display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        width:900px;
    }
    
    
    body, .footer, .navigation 
    {
        width:100%;
        font-size: 4vw;
        
    }
    
    .navigation
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        
    }
    
    
    
    .content 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        width:100%;
        height: 100%;
        justify-content: space-around;
        
    }
    
    #footer
    {
        display: block;
        
    }
    
    .column 
    {
        margin: 10px 0; 
        border-bottom:1px dashed #7b96bc;
    }
    
    .navigation ul li 
    {
        width: 33%;
    }
    
    #visit, #points, #main 
    {
        width:100%;
    }

}
