
*, body{
    background-color: white;
    background-image: none;
}

body
{
    height: 100vh;
    margin: 0; 
    padding: 0;
   }



#main-content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, 0%);
    justify-content: flex-start;
    text-align: center;
    align-content: center;
    width: 70vw;
    height: auto;
    top: 5vh;
    left: 50vw;
    margin-top: 15vh;
    padding: 2vw;
    background-color: white;
    /*background-color: red;*/
    
}

#start-header
{
    
    padding: 2vh; 
    background-color: rgb(167, 215, 238); 
    border-radius: 10px;
    
}

#main-content p
{
    margin-top: 3vh;
    margin-bottom: 15vh;
    font-size: 4vh;
}

#main-content h1
{
    margin-bottom: 10vh;
    font-size: 6vh;
}



.ui.accordion
{
position: relative;
 background-color: red;
 width: 80vw;
 padding-top: 5vh;
 margin-top: 5vh;
 padding-bottom: 5vh;
 border-radius: 5px;
 margin-bottom: 15vh;
}


.content.active
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    align-content: center;
    background-color: rgb(70, 70, 70);  
    height: 40vh; 
    width: auto;   
}

.content button img
{
    width: 25vw;
    height: auto;
}

#fixed-background
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-repeat:no-repeat;
    z-index: 0;
    background-size: cover;
}

