
/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*, body{
    color: white;
    background-image: none;
    font-family: 'PT Serif', serif;
}

body
{
    height: 100vh;
    margin: 0; 
    padding: 0;
   }



#main-content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, 0%);
    justify-content: flex-start;
    text-align: center;
    align-content: center;
    width: 70vw;
    height: auto;
    top: 5vh;
    left: 50vw;
    margin-top: 15vh;
    padding: 2vw;
    background-color: #F6511D;
    /*background-color: red;*/
    
}

#start-header
{
    
    padding: 2vh;
    border-radius: 10px;
    font-family: 'PT Serif', serif;
    
}

#main-content p
{
    margin-top: 3vh;
    margin-bottom: 15vh;
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
}

#main-content h1
{
    margin-bottom: 10vh;
    font-size: 6vh;
    background-color: #F6211E;
    border-radius: 2vw;
}



.content.active
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    align-content: center;
    background-color: rgb(70, 70, 70);  
    height: 40vh; 
    width: auto;   
}

.content button img
{
    width: 25vw;
    height: auto;
}

#fixed-background
{
    position: fixed;
    height: 200vh;
    width: 100vw;
    background-color: #F6511D;
    background-repeat:no-repeat;
    z-index: 0;
    background-size: cover;
}

